#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.flex {
  display: flex;
}
.layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.results-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.program-results,
.final-results {
  flex: 1;
}

h2 {
  text-align: center;
}
